.gradle/
build/
bin/
out/
run/
dist/
.idea/
.settings/
.classpath
.project
*.iml
eclipse/

Thumbs.db
.DS_Store
*.log

libs/
native/
meat-alpha/
cpp/**/build/
/git
/100

.mcreator/workspaceBackups/
.mcreator/generatorGradleCache
.mcreator/modElementThumbnails/

*.jar
!gradle/wrapper/gradle-wrapper.jar
__pycache__/
*.pyc
tools/_heart2_preview.png
